<a href="https://colab.research.google.com/github/abdulwahab971/Crowd-behavior-Analysis-Tool/blob/main/IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

 

*   Google **Colab** is a "notebook" (different from a script)
*   It is made up of code cells, which run a block of code, and text cells, like this one.
*   You will usually want to run your cells **in order** and if you make changes, be sure to keep your cells organized!

# Libraries and Import

There are many prebuilt functions in Python which are accessible through packages. In order to use the functions provided by a package in your program (script/notebook) you need to import the package.

This is done by using the keyword **import** followed by the package name.

Below we are importing the time package which has functions to retrieve and manipulate the current time.


for i in sequence:
    do do
    dppd
    ddpdpd

In [ ]:
import time

Now that we have imported the time package we have access to the current date and time in the computer by calling the function **time.ctime()**

We will talk about functions in detail later.

Below we are using a variable current time to store the value of the current date and time.

In [ ]:
current_time = time.ctime()
current_time

'Wed Mar 22 23:53:02 2023'

# Variables

Variables are elements used to store values. A variable is like a label, and in Python we use the **=** symbol, known as the assignment operator, to assign a value to a variable. The first time you create a variable is known as declaration.

`cd = 0` is a declaration of the variable cd with an initial value of 0. In Python, you need to assign a value when declaring a variable.

Chain assignment: An assignment can be chained, e.g., `a = b = 2`

In [ ]:
a=4

In [ ]:
a

4

In [ ]:
b = 9

In [ ]:
b

9

In [ ]:
b = 2

In [ ]:
b

2

In [ ]:
# Assign "to you" to the variable greetings using the assignment operator
greetings = "Hello you"

# Changing the value of the greetings variable to "Not me"
greetings = "Not me"

In [ ]:
a = b = current_time

## Printing

If you have a variable name on its own, Collab will show you the value of that variable when you run the code cell. That is how you have been able to see the values of all the previous variables

In [ ]:
current_time

'Wed Mar 22 23:53:02 2023'

However, sometimes we might want to manually print some variable we are working on, to do this, we can use the print() method. We place in the parenthesis the variable we want to see printed to the output as shown below

In [ ]:
print(current_time)

Wed Mar 22 23:53:02 2023

## Task a):

Print the values of `greetings`, `a` and `b` to console

In [ ]:
# Write a line of code to print the value stored on a 
print(a)

# Write a line of code to print the value stored on greetings 
print(greetings)

# Write a line of code to print the value stored on b
print(b)

Wed Mar 22 23:53:02 2023
Not me
Wed Mar 22 23:53:02 2023

# Basic types
A type defines a family of values that a programming language understands. The basic types are:

**integer:** The variable holds a whole number (e.g., 0, 2, 853, -58)

**double:** The variable holds a decimal point value (e.g., 0.5, 1.2, 256.14, -2.5)

**string:** The variable holds a series of characters surrounded by double quotes (") (e.g., `"a"`, `"This"`, `"This is a longer text"`)

**boolean:** A variable holds either the value of True or False

A variable on Python can store any type of value. To know the type of a variable we use the **type()** method with the variable whose type we want to know within the parenthesis

In [ ]:
alpha = 12344
type(alpha)

int

In [ ]:
type(2.0)

float

In [ ]:
type("hello")

str

In [ ]:
type('2')

str

In [ ]:
type(True)

bool

###Task b): 
Write a line of code to determine what is the type of the variable current_time?

In [ ]:
# Write the line of code below
type(current_time)

str

# Number Operations

Python can be used to perform basic math operation on numbers

In [ ]:
2+9

11

In [ ]:
variable = 2 + 9

In [ ]:
2*9

18

In [ ]:
2/9

0.2222222222222222

In [ ]:
2+3*9

29

In [ ]:
(2+3)*9

45

In [ ]:
2**4   # ** is the exponentiation operator. In this case: 2 to the power of 4

16

In [ ]:
2*2*2*2

16

If you want to update a variable to be the sum of its current value and something else we can use the "+=" operator

In [ ]:
a = 3
b= 2
c= 5
d= 1

print("a has the value: " + str(a))
a+=b
print("a has the value: " + str(a))
a+=c
print("a has the value: " + str(a))
a+=d
print("a has the value: " + str(a))

a has the value: 3
a has the value: 5
a has the value: 10
a has the value: 11

For more information on the types of operations supported you can read the following article [Python Operators Article](https://www.geeksforgeeks.org/python-operators/)

# Text operations: 
String variables can be manipulated. The simplest manipulation is adding up to strings to create a new string.
We can concatenate two strings by using the + operator.

In [ ]:
"Hello World"

'Hello World'

In [ ]:
"hello"+" "+"Dog"

'hello Dog'

We can also use the * operator to multiply the string

In [ ]:
"hello"*5

'hellohellohellohellohello'

### Task c):

Try running the code cell below

In [ ]:
print('Hello World')

Hello World

Whenever there is something wrong with your syntax, the notebook will show you an error message just like the one you saw when trying to run that cell.

In this case, the problem is that Hello World is not a valid variable name. Furthermore, since it does not have "" it is not considered a string

In [ ]:
Hello_World = 2.134 ## this is now a valid variable name
print(Hello_World)

2.134

In [ ]:
print("Hello World") # The "" denote a string

Hello World

###Task d): 
Create new variables to store each of the following: 

*   Your first name
*   Your last name
*   Your favorite TV show 

Create another variable that contains a sentence indicating your name, last name , and tv show , and print it to console

The output should look something similar to *My name is: Esteban Parra and my favorite tv show is Last week tonight*

In [ ]:
# Write your code below
first_name  = 'Abdul'
last_name = 'Wahab'
favorite_show = 'Last week tonight'

complete = 'My name is: ' + first_name + ' ' + last_name + ' favorite tv show is ' + favorite_show

complete

'My name is: Abdul Wahab favorite tv show is Last week tonight'

# Casting (Type Conversion)
Casting is the process of converting a variable from one type to a different type.

The most common casting you will do is to convert a variable of another type into a string. This is achieved by using str(variable_to_convert) 

Example:

In [ ]:
variable_1 = 1 # variable_1 is an integer holding the number 1
variable_2 = str(variable_1) # variable_2 is a string holding the value "1"

# If you need to print an integer you do not need to do an assignment. You can do:

variable_1 = 25
print("The variable's value is a: " + str(variable_1))

The variable's value is a: 25


### Task e):

On the code cell below:
1. Change the value stored in the variable greetings to be the following string "Hi there".
2. Use the chain assignment to store 20 in both a and b on line 13.
3. Use casting to convert the value of age into a number (**int**) and add it up with the value of a into variable b

In [ ]:
a = 1
age = "20"

# Assign "greetings" to the variable using the assignment operator
greetings = "greetings"
print("greetings = " + str(greetings))

# Complete step 1 below

greetings = "Hi there"



print("greetings = " + str(greetings))

# Complete step 2 below


a= b = 13

print('a =' + str(a))

print('b =' + str(b))

# Complete step 3 below

b += a + int(age)


print("b is: " + str(b))

greetings = greetings
greetings = Hi there
a =13
b =13
b is: 46

# Naming convention
The most commonly used notation for naming variables in Python is to use lowercase and to use _ between words. 

Examples:
```
user
username
last_name
temporary_pass 
very_important_value_temporary_storage

```

```very_important_value_temporary_storage``` is a valid variable name. But aim to keep your variable names short.

Sometimes you can use abbreviations: `temp_value` instead of temporary_value

Sometimes acronyms are helpful. `GPA` GPA is easy to understand if it is a program dealing with grades (in the US)

In [ ]:
variable = a*3

In [ ]:
total = a+b

In [ ]:
total

59

In [ ]:
a = 10

In [ ]:
total

59

In [ ]:
total = a+b

In [ ]:
total

56

In [ ]:
purchase_price = 5
state_tax_rate = 0.075
county_tax_rate = 0.02
city_tax_rate = 0
sales_tax_rate = state_tax_rate + county_tax_rate + city_tax_rate
sales_tax = purchase_price * sales_tax_rate
print(sales_tax)

0.475

# Comments

Comments are pieces of text that describe your code

Comments should be complete sentences. The first word should be capitalized unless it is an identifier that begins with a lowercase letter. Ensure that your comments are clear and easily understandable to other people.

A comment in Python starts with the hash (#) character followed by a single space. Comments extend to the end of the physical line.

A comment line always starts with # and is generally colored green

## Block Comments
Block comments generally apply to a large section of code that follows them.

Block comments indented to the same level as that code.

## Inline Comments
Use inline comments sparingly. An inline comment is a comment on the same line as a statement. Inline comments should be separated by at least two spaces from the statement.

In [ ]:
#comments! 

# This is a comment line

print("Hello!")  # This comment is for the second line.

print("# this is not a comment")

a = 10  # This is an inline comment, code before the comment will run
# print(a) . No code on this line will run

# print(a)   # If you remove the first #, you will uncomment the code. This text will remain commented

Hello!
# this is not a comment

### Task f):
Comment the print line of code below. When clicking the run button, you should not see any output

In [ ]:
# The following line should be commented:
#print("This line should not be printed!")

# Python Built-In Functions

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application.

Just like Excel, Python gives you many built-in functions like print() and type(), we will see a few more below.

Functions like print and type require you to provide an a variable as an argument within the parenthesis. Some functions do not require arguments, others require 1, others require more.

Furthermore, there are even more fuctions provided in libraries and if none of them are what you need you can also create your own functions. These functions are called user-defined functions.

*   **Note:** Do not name your variables the same name as a function. 

For more built-in function, you can [Python Built-In Functions](https://www.w3schools.com/python/python_ref_functions.asp)

## abs(x) 
Return the absolute value of the numerical value you pass as argument. Think of absolute value as the positive value of any number

In [ ]:
abs(-5)

5

In [ ]:
day_temp = 51
night_temp = 47
diff_temp = night_temp-day_temp
diff_temp_a = abs(night_temp-day_temp)

In [ ]:
print(diff_temp)
print(diff_temp_a)

-4
4

## round(number, ndigits = None)
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is None

If you want to see the documentation of a function You can type the name of a function followed by a question mark **?** on a code cell.

Try it below:

In [ ]:
round?

In [ ]:
round(124.2543452, 2)

124.25

In [ ]:
round(123.45)

123

In [ ]:
round(123.4543432,3)

123.454

In [ ]:
round(123.45)

123

## min() and max()

When given two or more arguments, min() returns the smallest argument and max() returns the largest argument.

In [ ]:
min(14,15,12,12)

12

In [ ]:
max(1,200,13,23,23)

200

###Task g):
Write a line of code to open the doumentation of the min function

In [ ]:
# Write your code below
min?

# sqrt() ????

Let's try the sqrt() function below to get the square root of a number

In [ ]:
sqrt(42)

NameError: ignored

In [ ]:
sqrt?

Object `sqrt` not found.

As you can see there is no sqrt built-in function in Python. However, we can use the ** Exponent operator to get the square root. Like we saw before

The square root is the same as the exponent 0.5

* Disclaimer: Expect me to ask you something with this type of math in an exam

In [ ]:
42**(1/2)

6.48074069840786

# sqrt() Does exist

We were not able to use sqrt() because it is not a built-in function in Python. However, there are multiple Python libraries that provide a square root function **sqrt()**

The **math** library is a Python library that provides function for more complex mathematical operations such as sqrt()

The **numpy** library is a Python library that provides function for more complex operations with numbers such as sqrt()

Before you cna use them, you need to import the corresponding library

In [ ]:
import math as m
m.sqrt(42)

6.48074069840786

In [ ]:
import numpy as np

In [ ]:
np.sqrt(42)

6.48074069840786

### Problem 1: Calculating Compound Interest

Write a program that calculates the amount of money you will have if you invest a certain amount of money at a fixed interest rate for a specified number of years. The program should do the following:

Create variables that store each of the following: 

*   Initial investment amount or principal
*   Interest rate (in percent) [e.g.,  2.3]
*   Number of years to invest


Note: Your variable storing the interest rate should not have a % sign

In [ ]:
# Create your variables on this code cell
# Get user input for principal, interest rate, and number of years
principal = float(input("Enter the initial investment amount: "))
interest_rate = float(input("Enter the interest rate (in percent): ")) / 100
num_years = int(input("Enter the number of years to invest: "))

# Calculate the final amount
final_amount = principal * (1 + interest_rate) ** num_years

# Print the final amount rounded to 2 decimal places
print("After", num_years, "years, your investment will be worth $", round(final_amount, 2))

Enter the initial investment amount: 2000
Enter the interest rate (in percent): 12
Enter the number of years to invest: 2
After 2 years, your investment will be worth $ 2508.8

Calculate the amount of money you will have after the specified number of years using the formula: A = P * (1 + r/100) ** n, where A is the amount of money you will have, P is the initial investment amount, r is the interest rate (in percent), and n is the number of years to invest.

Store this result in a new variable

In [ ]:
# Write the code for your calculation on this code cell

P = principal 
r = interest_rate 
n = num_years 

# Calculate the final amount using the formula
A = P * (1 + r/100) ** n

Print a message that says "After [n] years, you will have [A] dollars.", where [n] is the number of years entered by the user and [A] is the amount of money you will have.

In [ ]:
# Write your print statement on this code cell


# Print out a message with the final amount and number of years
print("After", num_years, "years, you will have $", round(final_amount, 2), "dollars.")

After 2 years, you will have $ 2508.8 dollars.

# Python Lists

A Python list is a variable that can store multiple items. You can access any item in the list by using it's index. Python Lists are very versatile and can contain different types of elements

A list can be initialized by using a series of comma-separated values (items) enclosed in square brackets. 
Examples:

In [ ]:
#empty list
times = []

In [ ]:
print(times)

[]

In [ ]:
#list of strings
animals = ['cat', 'dog', 'bunny', 'whale', 'lizard']

In [ ]:
print(animals)

['cat', 'dog', 'bunny', 'whale', 'lizard']

In [ ]:
#list integers
int_list = [1, 2, 3]

You can add new items at the end of the list by using the append() method or list concatenation with the "**+=**" operator

In [ ]:
times.append('9:50')
times

['9:50']

In [ ]:
times.append('1:00')
times

['9:50', '1:00']

In [ ]:
# list concatenation adds all of the elements of a list to the end of another list
times_too = ['12:00','12;50']
print("Before concatenation")
print(times)
print(times_too)
times = times + times_too
print("After concatenation")
print(times)
print(times_too)

Before concatenation
['9:50', '1:00']
['12:00', '12;50']
After concatenation
['9:50', '1:00', '12:00', '12;50']
['12:00', '12;50']

### Task h):
Run the code cell above again. What do you notice about the result? Write below (in this text cell) what you see and why do you think that is happening

**write here**
List concatenation adds all elements at the end of the list.

The code below fixes the issue by creating a new vaiable `times3` to store the concatenated result

In [ ]:
# list concatenation adds all of the elements of a list to the end of another list
times_too = ['12:00','12;50']
print("Before concatenation")
print(times)
print(times_too)
times3 = times + times_too
print("After concatenation")
print(times)
print(times_too)
print(times3)

Before concatenation
['9:50', '1:00', '12:00', '12;50']
['12:00', '12;50']
After concatenation
['9:50', '1:00', '12:00', '12;50']
['12:00', '12;50']
['9:50', '1:00', '12:00', '12;50', '12:00', '12;50']

## Indices 
The content of a lists can be changed using their index in square brackets.

In [ ]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
print("before:" + str(cubes))
# the cube of 4 is 64, not 65!
cubes[3] = 64  # replace the wrong value
print("after: " + str(cubes))

before:[1, 8, 27, 65, 125]
after: [1, 8, 27, 64, 125]

Why did we modify index 3 if the wrong value is at the fourth position?

The indices of a list on python start at 0. Below is a representation of what the indices of the cubes list and their corresponding values

`list_values = [1, 8, 27, 64, 125]`

`list_indices = [0, 1, 2, 3, 4]`

In general, for any list with N elements:

* The index of the first element is 0
* The index of the last element is N-1

In [ ]:
animals

['cat', 'dog', 'bunny', 'whale', 'lizard']

In [ ]:
# We access different elements in a list by indexing
animals[0]

'cat'

In Python we can also use negative indexes to refer to indexes starting from the last position.
Therefore, list[-1] refeers to the last element

In [ ]:
animals[-2]

'whale'

### Task i: 
Write a line of code to print the element of the animals list at index 3 in the code cell below

In [ ]:
# Write your code below
animals[3]

'whale'

### Task j: 
Write a line of code to print the last element of the animals list in the code cell below

In [ ]:
# Write your code below
animals[-1]

'lizard'

## len(x)

We will not always now what elements are in a list before hand. Furthermore, as we run our code the elements in the list can change.

Therefore, if we need to know the current length of a list we can use the **len()** function. 

The len() function takes as parameter the list for which you want to know its length

In [ ]:
#mixed data types
mixed_list = [1, "hi", 3.4232]

In [ ]:
len(mixed_list)

3

###Task k): 
Write code below to obtain and print the length of the animals list

In [ ]:
# Write your code on this cell
len(animals)

5

## Slice
We can use slicing to obtain sublists by providing on square brackets a start_index, and an end_index

start_index = Where the sublist will start. If not expecified it will be 0
end_index = Where the sublist will end (exclusive). If not expecified it will the length of the list

The end_index is not included in the sublist

In [ ]:
animals

['cat', 'dog', 'bunny', 'whale', 'lizard']

In [ ]:
length_of_animals = len(animals)

In [ ]:
length_of_animals

5

In [ ]:
animals[2:length_of_animals] # gets a sublist with animals at positions 2,3, and 4

['bunny', 'whale', 'lizard']

In [ ]:
animals = ['cat', 'dog', 'bunny', 'whale', 'lizard', 'dolphin', 'pig']
animals[2:-2]

['bunny', 'whale', 'lizard']

In [ ]:
animals[2:] # sublist with every element starting at position 2

['bunny', 'whale', 'lizard', 'dolphin', 'pig']

In [ ]:
animals[2:-1] # We use -1 to indicate the last element. Since it is exclusive the last element is not included

['bunny', 'whale', 'lizard', 'dolphin']

In [ ]:
animals[:3] #sublist with all the elements from the beginning until index 2

['cat', 'dog', 'bunny']

### Task l):
**Before you run the cell below,** Write on this text cell what do you think the results will be?

**Write here**
All elements of the list will be printed

In [ ]:
animals[:]

['cat', 'dog', 'bunny', 'whale', 'lizard', 'dolphin', 'pig']

Notice that getting a sublist does not change the original list

In [ ]:
animals

['cat', 'dog', 'bunny', 'whale', 'lizard', 'dolphin', 'pig']

Slicing has a third(optional) parameter known as the step. You can use the step to tell python to skip that many elements. the default is one

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

evens = numbers[::2]
evens

[1, 3, 5, 7, 9]

In [ ]:
nums = [12, 3, 4, 5, 34, 87, 6, 5, 4, 1]

In [ ]:
# Fix this code to use the length of the numbers array rather than 0
lenght = len(nums)
first_index = 0
second_index = int(lenght * 0.10)
ten_percent = nums[first_index:second_index]
print("Indexes from: " + str(first_index) + " to " + str(second_index))
print(ten_percent)

Indexes from: 0 to 1
[12]

You can use the following [Cheat Sheet](https://hakin9.org/python-cheat-sheet-for-hackers-and-developers/) for reference

# Problem 2:
Write a program that takes a list of integers as input and slices it into three parts: the first part should contain the first 20% of the list, the second part should contain the middle 60% of the list, and the third part should contain the last 20% of the list. 

The program should do the following:

1.   Define a list of integers
2.   Slice the list into three parts as described above
3.   Print the three parts of the list

**Example:** Given the list `[2, 8, 1, 6, 3, 9, 4, 7, 5, 10]`

The first part would contain the first 20% of elements. 

That is indexes 0 to 1 `[2,8]`

The second part would contain the first 60% of elements. 

That is indexes 2 to 7 `[1, 6, 3, 9, 4, 7]`

The third part would contain the last 20% of elements. 

That is indexes 8 to 9 `[5,10]`

**Hint 1:** 10% is the same as 0.1, 20% is the same as 0.2

**Hint 2:** Multiplying the lenght of the array by 0.1 would give you the index at which the first 10% of elements end

Write your code on the code cells Bellow

In [ ]:
# Create the array of numbers on this cell

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
# Calculate the indices to slice the list on this cell. Hint: You need four indices

# Calculate the length of the list
length = len(my_list)

# Define the indices for the three parts of the list
part1_end = int(length * 0.2)
part3_start = int(length * 0.8)
part2_start = int((part1_end + part3_start) / 2)
part2_end = int(part2_start + (length * 0.6))

In [ ]:
# Slice the list into three parts on this cell
part1 = my_list[:part1_end]
part2 = my_list[part2_start:part2_end]
part3 = my_list[part3_start:]

In [ ]:
# Print the three parts of the list on this code cell
print("Part 1:", part1)
print("Part 2:", part2)
print("Part 3:", part3)

Part 1: [1, 2, 3, 4, 5, 6]
Part 2: [16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
Part 3: [25, 26, 27, 28, 29, 30]

# Range

The range() function returns a sequence of numbers, starting at a given value, and increments by a certain amount, and stops before a specified number.

range(start_value, end_value, increment_value)

start_value and increment value are optional.

If not provided,
*   The stating value will be 0
*   The increment value will be 1

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(3,6):
  print(i)

3
4
5

### Task m):
Create the following ranges:


*   All the numbers between 0 and 25 (inclusive)
*   All the odd numbers between 1 and 100
*   All the numbers between 1 and 50 that are multiples of three

In [ ]:
## Write code to create the ranges below

#All the numbers between 0 and 25 (inclusive)

# Initialize an empty list to store 25 numbers
range25 = []

#Loop through the range from 1 to 26
for i in range(0,26):
  range25.append(i)

print('0-25= ' + str(range25))
#---------------------------------------------------------------------------------
#All the odd numbers between 1 and 100
# Initialize an empty list to store the odd numbers
odd_numbers = []

# Loop through the range from 1 to 100, stepping by 2 (i.e., skipping even numbers)
for num in range(1, 100, 2):
    odd_numbers.append(num)

# Print the list of odd numbers
print('Odd numbers = ' + str(odd_numbers))


#-----------------------------------------------------------------------------------
# Initialize an empty list to store the multiples_of_3
multiples_of_3 = []

for num in range(1,51):
  if num%3==0:
    multiples_of_3.append(num)

print('multiples_of_3= '+ str(multiples_of_3))

0-25= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
Odd numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
multiples_of_3= [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

# Loops

The for loop is useful when we want to iterate over the items of any sequence of variables (list) in the order that they appear in the sequence.

Take the following for loop for example:

for i in (1,2,3,4,5):
    print i
The loop above will print the numbers 1 2 3 4 5 each on a separate line. The variable i takes on each of the values in the collection provided in parentheses, and the loop executes once for each value of i. The collection (1,2,3,4,5) is called a tuple, and can contain any type of variable in any order.

In [ ]:
for i in range(3,6):
  print(i)

3
4
5

In [ ]:
temps = [90, 86.6,  75.43, 78.9, 91]
for i, elem in enumerate(temps):
  print(f"i is: {i}. elem is: {elem:0.1f}")

i is: 0. elem is: 90.0
i is: 1. elem is: 86.6
i is: 2. elem is: 75.4
i is: 3. elem is: 78.9
i is: 4. elem is: 91.0

### Below find some examples of loops and lists.

In [ ]:
#EXAMPLE

list1 = [0,2,2,3,4]
# Initialize a variable that will hold the sum of the numbers
# Since we have not seen any numbers, we start the sum at 0
sum=0
# Do a loop that goes from index 0 to the length of list1, i is the variable that holds the current index
for i in range(len(list1)):  
  print("------------")
  print("i:")
  print(i)
  print("------------")
  print("list item:")
  print(list1[i])
  print("------------")
  sum+=list1[i]
  print("sum:")
  print(sum)
  print("------------")

------------
i:
0
------------
list item:
0
------------
sum:
0
------------
------------
i:
1
------------
list item:
2
------------
sum:
2
------------
------------
i:
2
------------
list item:
2
------------
sum:
4
------------
------------
i:
3
------------
list item:
3
------------
sum:
7
------------
------------
i:
4
------------
list item:
4
------------
sum:
11
------------

In [ ]:
#EXAMPLE
# To build a new list, you can create an emtpy list and append to it
newlist = []
for i in range(5):
  newlist.append(i**2)
print(newlist)

[0, 1, 4, 9, 16]

In [ ]:
x = int(2)
y = float(3.2)

In [ ]:
print(x+y)

5.2

In [ ]:
int(8.6)

8

In [ ]:
print(4.634)

4.634

In [ ]:
print('hello')

hello

In [ ]:
print("hello"+' '+str(8))

hello 8

In [ ]:
"hello"*3

'hellohellohello'

In [ ]:
import numpy as np

In [ ]:
x = np.array([3,5,21,2])

In [ ]:
type(x)

numpy.ndarray

In [ ]:
y = np.array([1,1,1,1])

In [ ]:
type(y)

numpy.ndarray

In [ ]:
x + y

array([ 4,  6, 22,  3])

In [ ]:
np.average(x)

7.75

In [ ]:
x == 5

array([False,  True, False, False])

# Problem 3: Finding the Maximum Number

Write a program that creates a list of 10 positive numbers and then finds the maximum number among those numbers using a loop. 

The program should do the following:

1. Create a list with 10 numbers
2. Use a loop to find the maximum number among the 10 numbers in the list
3. Print the maximum number

In [ ]:
#Write your code here
# create a list of 10 positive numbers
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# set the initial maximum number to the first number in the list
max_num = numbers[0]

# use a loop to compare each number in the list with the current maximum number
for num in numbers:
    if num > max_num:
        max_num = num

# print the maximum number
print("The maximum number in the list is:", max_num)

The maximum number in the list is: 50